<div class="container-fluid text-white">
             <div class="row">
                   <div onclick="location.href='@Url.Action("", "")'" class="shadow-lg col-3 text-center  m-4 bg-azul  module-item rounded Personal-bg">Registro de Personal</div>
                    <div onclick="location.href='@Url.Action("", "")'"class="shadow-lg col-3 text-center m-4 bg-azul module-item rounded Evaluacion-bg">Evaluacion de desempeño</div>
                    <div  onclick="location.href='@Url.Action("", "")'" class="shadow-lg col-3 text-center m-4 bg-azul module-item rounded Accion-bg">Acciones de Personal</div>
                    
             </div>
</div>