<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 
        Municipal</title>
   <!-- CSS only -->
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SIGEFMunicipal.styles.css" asp-append-version="true" />
</head>

<div class="sidenav" style="height:100%">

    <div class="card" style="margin-top: 290px;
    width: 70%;
    height: 40%;
    position: absolute;
    top: 0%;
    left: 0%;
    margin-left: 10%;">
        <img src="~/Resources/LogoTemp.png">
         <div class="login-main-text" style="position: absolute;
    top: 35%;
    left: 10%;">
    </div>
     <h2 style="color: #fff;
    width: 120%;">SISTEMA DE  GESTIÓN FINANCIERA MUNICIPAL<br></h2>
           
            
         </div>
         
      </div>
      <div class="main">
         <div class="col-12">
            <div class="login-form card shadow">
           
                  <div class="form-group">
                     <label>Usuario</label>
                     <input type="text" class="form-control" placeholder="Usuario">
                  </div>
                  <div class="form-group">
                     <label>Contraseña</label>
                     <input type="password" class="form-control" placeholder="Contraseña">
                  </div>
                  <button onclick="location.href='@Url.Action("Principal", "Home")'"  class="btn btn-primary mt-3">Ingresar</button>
                  <button class="btn btn-secondary mt-3">Registrarte</button>
                  <br/>
                    <p class="login-olvidoClave"><a href="#">¿Olvidaste tu Contraseña?</a></p>
            </div>
         </div>
      </div>
