<div class="container-fluid text-white">
             <div class="row">
                   <div onclick="location.href='@Url.Action("Index", "Financiero")'" class="shadow-lg col-3 text-center  m-4 bg-azul  module-item rounded presupuesto-bg">Formulacion Presupuesto</div>
                    <div class="shadow-lg col-3 text-center m-4 bg-azul module-item rounded calculadora-bg">Ejecucion Presupuesto</div>
                    <div class="shadow-lg col-3 text-center m-4 bg-azul module-item rounded calculadora-bg">Activos Fijos</div>
                    <div class="shadow-lg col-3 text-center m-4 bg-azul module-item rounded calculadora-bg">Contabilidad</div>
                    <div class="shadow-lg col-3 text-center m-4 bg-azul module-item rounded calculadora-bg">Conciliacion Bancaria</div>
                    <div class="shadow-lg col-3 text-center m-4 bg-azul module-item rounded calculadora-bg">Cuentas por pagar</div>
                    <div class="shadow-lg col-3 text-center m-4 bg-azul module-item rounded calculadora-bg">Facturacion y cobros</div>
             </div>
</div>