<div class="container-fluid">
    <div class="row p-5">
          
      
         <div class="col-10">
             <div class="row">
                   <div onclick="location.href='@Url.Action("Index", "Financiero")'" class="shadow-lg col-3 text-center  m-3 bg-azul  module-item rounded presupuesto-bg">Grafico</div>
                    <div class="shadow-lg col-3 text-center m-3 bg-azul module-item rounded calculadora-bg">Presupuesto</div>
                    <div class="shadow-lg col-3 text-center m-3 bg-azul module-item rounded calculadora-bg">Presupuesto</div>
                    <div class="shadow-lg col-3 text-center m-3 bg-azul module-item rounded calculadora-bg">Presupuesto</div>
                    <div class="shadow-lg col-3 text-center m-3 bg-azul module-item rounded calculadora-bg">Presupuesto</div>
                    <div class="shadow-lg col-3 text-center m-3 bg-azul module-item rounded calculadora-bg">Presupuesto</div>
                    <div class="shadow-lg col-3 text-center m-3 bg-azul module-item rounded calculadora-bg">Presupuesto</div>
             </div>
         </div> 
       
    </div>
</div>