@model IEnumerable<CapaEntidad.UsuarioEntity>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row">
<div class="col-lg-6" id="pruebaContenedor">
    
<div class="input-group mb-3 col-lg-6 mt-5" id="divBusquedaForm" >
  <input type="text" class="form-control" id="txtnombrebusqueda"
  placeholder="Ingrese tipo medicamento" onkeyup="filtrarTipoMedicamento()"  />
 
</div>
    <div id="LaTabla">

    </div>
</div>
<div class="col-lg-6" id="pruebaContenedor2">
  
<div class="input-group mb-3 col-lg-6 mt-5" id="divBusquedaForm" >
  <input type="text" class="form-control" id="txtnombrebusqueda"
  placeholder="Ingrese tipo medicamento" onkeyup="filtrarTipoMedicamento()"  />
 
</div>
    <div id="LaTabla2">

    </div>
</div>
</div>
<script src="~/js/sweetalert.js" asp-append-version="true"></script>
<script src="~/js/generic.js" asp-append-version="true"></script>
<script src="~/js/Home.js" asp-append-version="true"></script>
