@model IEnumerable<CapaEntidad.UsuarioEntity>

@{
    ViewData["Title"] = "Index";
}
<div class="row">
     <div class="col-2 ml-5 mr-5 pb-5" ;>
                <button class="text-white font-weight-bold menu-button btn bg-azul shadow-lg" onclick="location.href='@Url.Action("Index", "RRHH")'">Clasificadores</button>
                <button class="text-white font-weight-bold menu-button btn bg-azul shadow-lg mt-5" onclick="location.href='@Url.Action("Index", "RRHH")'">Maestras</button>
                <button class="text-white font-weight-bold menu-button btn bg-azul shadow-lg mt-5" onclick="location.href='@Url.Action("Index", "RRHH")'">Reportes</button>
                <button class="text-white font-weight-bold menu-button btn bg-azul shadow-lg mt-5" onclick="location.href='@Url.Action("Index", "RRHH")'">Configuración</button>
              
            </div>

            <div class="col-10">
                <div id="divLoading">klk</div>
<div class="row">
<div class="col-lg-12" id="pruebaContenedor">
    
@*<div class="input-group mb-3 col-lg-6 mt-5" id="divBusquedaForm" >
  <input type="text" class="form-control" id="txtnombrebusqueda"
  placeholder="Ingrese tipo medicamento" onkeyup="filtrarTipoMedicamento()"  />
 
</div>*@
    <div id="LaTabla">

    </div>
</div>
<div class="col-lg-12" id="pruebaContenedor2">
  
@*<div class="input-group mb-3 col-lg-6 mt-5" id="divBusquedaForm" >
  <input type="text" class="form-control" id="txtnombrebusqueda"
  placeholder="Ingrese tipo medicamento" onkeyup="filtrarTipoMedicamento()"  />
 
</div>*@
    <div id="LaTabla2" >

    </div>
</div>
</div>

            </div>
</div>
    


<script src="~/js/generic.js" asp-append-version="true"></script>
<script src="~/js/privacy.js" asp-append-version="true"></script>
