:root {
    --AZUL:#002D5D;
    --ROJO:#EA0029;
}

html {
  font-size: 14px;
  font-weight:bold !important;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-weight: bold !important;
    font-family: 'Roboto', sans-serif;
}
.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}
.menu-button {
    width: 90%;
/*    height: 7%;*/
    border-radius: 10px;
    font-size: 20px;
}

.module-item {
    height: 200px;
    width: 200px;
    padding: 15px 0 0 0;
}

.bg-azul {
    background-color:var(--AZUL) !important;
    cursor:pointer;
}

.bg-header {
    background-color: var(--AZUL) !important;
}

.bg-rojo {
    background-color:var(--ROJO) !important;
}
.centered-element {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.buttons-modules {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    font-size: 20px;
}

.presupuesto-bg {
    background-image: url("..//Resources//Presupuesto.png");
    background-repeat: no-repeat;
    background-size: 85% 85%;
    background-position: center;
}
.calculadora-bg {
    background-image: url("..//Resources//Calculadora.png");
    background-repeat: no-repeat;
    background-size: 85% 85%;
    background-position: center;
}
.presentacion-bg {
    background-image: url("..//Resources//Presentacion.png");
    background-repeat: no-repeat;
    background-size: 85% 85%;
    background-position: center;
}
.grafico-circular-bg {
    background-image: url("..//Resources//GraficoCircular.png");
    background-repeat: no-repeat;
    background-size: 85% 85%;
    background-position: center;
}
.logo-liga-bg {
    background-image: url("..//Resources//LogoLiga.png");
    background-repeat: no-repeat;
    background-size: 85% 85%;
    background-position: center;
}
.presupuesto-bg {
    background-image: url("..//Resources//Presupuesto.png");
    background-repeat: no-repeat;
    background-size: 85% 85%;
    background-position: center;
}

.ActivosFijos-bg {
    background-image: url("..//Resources//ActivosFijos.png");
    background-repeat: no-repeat;
    background-size: 85% 85%;
    background-position: center;
}

.Contabilidad-bg {
    background-image: url("..//Resources//Contabilidad.png");
    background-repeat: no-repeat;
    background-size: 85% 85%;
    background-position: center;
}

.ConciliarioBancario-bg {
    background-image: url("..//Resources//ConciliacionBancaria.png");
    background-repeat: no-repeat;
    background-size: 85% 85%;
    background-position: center;
}

.CuentasPorPagar-bg {
    background-image: url("..//Resources//CuentasPorPagar.png");
    background-repeat: no-repeat;
    background-size: 85% 85%;
    background-position: center;
}

.FacturacionYCobro-bg {
    background-image: url("..//Resources//FacturacionYCobro.png");
    background-repeat: no-repeat;
    background-size: 85% 85%;
    background-position: center;
}

.EjecucionPresupuesto-bg {
    background-image: url("..//Resources//EjecucionPresupuesto.png");
    background-repeat: no-repeat;
    background-size: 85% 85%;
    background-position: center;
}
.Nomina-bg {
    background-image: url("..//Resources//Nomina.png");
    background-repeat: no-repeat;
    background-size: 85% 85%;
    background-position: center;
}
.Proceso-bg {
    background-image: url("..//Resources//Proceso.png");
    background-repeat: no-repeat;
    background-size: 85% 85%;
    background-position: center;
}

.Accion-bg {
    background-image: url("..//Resources//Accion.png");
    background-repeat: no-repeat;
    background-size: 85% 85%;
    background-position: center;
}
.Evaluacion-bg {
    background-image: url("..//Resources//Registro.png");
    
    background-repeat: no-repeat;
    background-size: 85% 85%;
    background-position: center;
}
.Personal-bg {
    background-image: url("..//Resources//Evaluacion.png");
    background-repeat: no-repeat;
    background-size: 85% 85%;
    background-position: center;
}
.Compra-bg {
    background-image: url("..//Resources//Compra.png");
    background-repeat: no-repeat;
    background-size: 85% 85%;
    background-position: center;
}
.transportacion-bg {
    background-image: url("..//Resources//Transporte.png");
    background-repeat: no-repeat;
    background-size: 85% 85%;
    background-position: center;
}

.visitas-bg {
    background-image: url("..//Resources//Visitas.png");
    background-repeat: no-repeat;
    background-size: 85% 85%;
    background-position: center;
}

.viaticos-bg {
    background-image: url("..//Resources//Viaticos.png");
    background-repeat: no-repeat;
    background-size: 85% 85%;
    background-position: center;
}

.caja-bg {
    background-image: url("..//Resources//CajaChica.png");
    background-repeat: no-repeat;
    background-size: 85% 85%;
    background-position: center;
}

.combustibles-bg {
    background-image: url("..//Resources//Combustibles.png");
    background-repeat: no-repeat;
    background-size: 85% 85%;
    background-position: center;
}

.digitalizacion-bg {
    background-image: url("..//Resources//Digitalizacion.png");
    background-repeat: no-repeat;
    background-size: 85% 85%;
    background-position: center;
}
.main-head {
    height: 150px;
    background: #FFF;
}

.sidenav {
    height: 100%;
    background-color: #002D5D;
    overflow-x: hidden;
    padding-top: 20px;
}


.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
}

@media screen and (max-width: 450px) {
    .login-form {
        margin-top: 10%;
    }

    .register-form {
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px) {
    .main {
        margin-left: 40%;
    }

    .sidenav {
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form {
        padding: 10%;
        margin-top: 20%;
        width: 50%;
        margin-left: 20%;
    }

    .register-form {
        margin-top: 20%;
    }
}


.login-main-text {
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

    .login-main-text h2 {
        font-weight: bold;
        font-size: 25px;
    }

.login-olvidoClave {
    text-align: center;
}
.login-olvidoClave a{
    text-decoration:none;
}
    .login-olvidoClave a:hover {
        color: #3682f1;
    }
.bg-azul:hover {
    transform: scale(1.1);
    transition: ease 0.5s;
}
li:hover {
    color: #002d5d !important;
    font-size: 18px;
    transition: ease 0.5s;
}

